.button {
    &__default {
        font-size: 1rem;
        background-color: #D3AFAF;
        width: 100%;
        padding: .6rem .8rem;
        border-radius: .5vw;
        cursor: pointer;
        font-weight: normal;
        transition: .3s;
        border: none;
        border: 1px solid transparent;
        min-height: 1.3rem;
        overflow: hidden;
        min-width: fit-content;

        &:hover {
            filter: brightness(110%);
            transition: .4s;
        }

    }

    &__svg {
        height: 1.5vw;
    }

    &__bright {
        font-size: 1rem;
        background-color: #fff !important;
        width: 100%;
        padding: .6rem .8rem;
        border-radius: .5vw;
        cursor: pointer;
        font-weight: normal;
        transition: .3s;
        border: none;
        border: 1px solid transparent;
        min-height: 1.3rem;

        &:hover {
            background-color: #f0f0f0 !important;
            transition: .4s;
        }

    }

    &__svg {
        height: 1.5vw;
    }
}

@media only screen and (max-width: 640px) {
    .button {
        &__default {
            font-size: 5vw;
            background-color: #D3AFAF;
            width: fit-content;
            padding: 3vw;
            border-radius: 1.5vw;
            cursor: pointer;
            font-weight: normal;
            transition: .3s;
            border: none;
            width: 100%;

            &:hover {
                filter: brightness(110%);
                transition: .3s;
            }

        }

        &__bright {
            font-size: 5vw;
            background-color: #fff !important;
            width: fit-content;
            padding: 3vw;
            border-radius: 1.5vw;
            cursor: pointer;
            font-weight: normal;
            transition: .3s;
            border: none;
            width: 100%;

            &:hover {
                filter: brightness(110%);
                transition: .3s;
            }

        }

        &__svg {
            height: 8vw;
            padding: 1vw;
        }
    }
}