.button {
    &__default {
        font-size: .8rem;
        background-color: #D3AFAF;
        // width: 100%;
        padding: .5rem .6rem;
        border-radius: .3vw;
        cursor: pointer;
        font-weight: normal;
        transition: .3s;
        border: none;
        border: 1px solid transparent;
        min-height: 1.3rem;
        overflow: hidden;
        min-width: fit-content;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
            filter: brightness(120%);
            transition: .3s;
            // background-color: transparent !important;
            // border-color: black;
            // color: black !important;
        }

    }

    &__svg {
        height: 1.5vw;
    }

    &__bright {
        font-size: 1rem;
        background-color: #fff !important;
        width: 100%;
        padding: .6rem .8rem;
        border-radius: .5vw;
        cursor: pointer;
        font-weight: normal;
        transition: .3s;
        border: none;
        border: 1px solid transparent;
        min-height: 1.3rem;

        &:hover {
            background-color: #f0f0f0 !important;
            transition: .4s;
        }

    }

    &__svg {
        height: 1.5vw;
    }
}

@media only screen and (max-width: 640px) {
    
}