.inputfield {
    &__container {
        width: 100%;
    }

    &__label {
        margin: 0 0 .5vh 0;
        font-size: .8rem;
        font-weight: normal;
        width: 100%;
        color: #696869;
    }

    &__default {
        border: 1px solid lightgray;
        font-family: 'Open Sans', sans-serif;
        width: -webkit-fill-available;

        margin: 0;
        font-size: 1rem;
        border-radius: 0.5rem;
        min-height: 1.3rem;
        width: -webkit-fill-available;
        font-weight: normal;
        padding: 0.5rem;

        &:focus {
            border: 1px solid #EBAA59;
            outline: none;
        }

        &:active {
            border: 1px solid #EBAA59;
            outline: none;
        }

        &::placeholder {
            color: #b5b5b5;
        }
    }
}

.textarea {
    &__default {
        border: 1px solid lightgray;
        border-radius: .5vw;
        font-size: 1vw;
        padding: .4vw;
        font-weight: normal;
        resize: none;
        font-family: 'Open Sans', sans-serif;
        width: -webkit-fill-available;

        &::placeholder {
            color: #b5b5b5;
        }

        &:focus {
            border: 1px solid #EBAA59;
            outline: none;
        }

        &:active {
            border: 1px solid #EBAA59;
            outline: none;
        }
    }
}

@media only screen and (max-width: 640px) {
    .inputfield {
        &__default {
            border: 1px solid lightgray;
            border-radius: 1.5vw;
            font-size: 1rem;
            padding: 1.5vw;
            font-weight: normal;

            &:focus {
                border: 1px solid #EBAA59;
                outline: none;
            }

            &:active {
                border: 1px solid #EBAA59;
                outline: none;
            }

            &::placeholder {
                color: #b5b5b5;
                font-size: 1rem;
            }
        }
    }

    .textarea {
        &__default {
            border: 1px solid lightgray;
            border-radius: 1.5vw;
            font-size: 1rem;
            padding: 2vw;
            font-family: inherit;
            font-weight: normal;
            font-family: 'Open Sans', sans-serif !important;
            resize: none;
        }

        &::placeholder {
            color: #b5b5b5;
            font-size: 1rem;
            font-family: 'Open Sans', sans-serif !important;
        }
    }
}