.applogs {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 85vw;
        padding: 2rem;
        padding-bottom: 5rem;
    }

    &__col {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 640px) {
    .applogs {
        &__container {
            width: 90vw;
            padding: 2rem 0;
        }
    
        &__col {
            width: 90vw;
        }
    }
}