.sidebar {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        border-right: 1px solid lightgray;
        border-top: 1px solid lightgray;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
        background-color: white;
        width: 18rem;
        height: calc(92vh - 1px);
        position: fixed;
        left: 0;
        top: 0;
        margin-top: 8vh;
        z-index: 3;
        overflow-x: hidden;
        animation: fade-in-right .5s ease-in forwards;

        &--dark {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            border-right: 1px solid rgb(84, 84, 84);
            border-top: 1px solid rgb(84, 84, 84);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
            background-color: #000000;
            width: 18rem;
            height: calc(92vh - 1px);
            position: fixed;
            left: 0;
            top: 0;
            margin-top: 8vh;
            z-index: 3;
            overflow-x: hidden;
            animation: fade-in-right .5s ease-in forwards;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 12rem;
        gap: 1rem;
        cursor: pointer;
        transition: .2s;
        border: 1px solid transparent;
        border-radius: 1rem;
        padding: .4rem 1rem;
        transition: .3s;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
            border-color: rgb(211, 211, 211);
        }

        &--dark {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 10vw;
            gap: 1rem;
            cursor: pointer;
            transition: .2s;
            border: 1px solid transparent;
            border-radius: 1rem;
            padding: .4rem 1rem;
            transition: .3s;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:hover {
                border-color: rgb(88, 88, 88);
            }
        }

        &-svg {
            height: 1.4rem;
            opacity: .8;

            &--dark {
                height: 1.4rem;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(263deg) brightness(85%) contrast(108%);
            }
        }

        &-label {
            font-size: 1.2rem;
            font-weight: normal;
            margin: 0;
            opacity: .8;

            &--dark {
                font-size: 1.2rem;
                font-weight: normal;
                margin: 0;
                color: lightgray;
            }
        }
    }

    &__subitem {
        margin: 0 0 1rem 2rem;
    }

    &__separator {
        width: 18rem;
        border-bottom: 1px solid lightgray;
        margin: .5em 0;

        &--dark {
            width: 18rem;
            border-bottom: 1px solid rgb(84, 84, 84);
            margin: 1rem 0;
        }
    }

    &__version {
        position: absolute;
        bottom: 0;
        margin-bottom: 2rem;
        color: gray;
        font-size: .9rem;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}