.account {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        width: 85vw;
    }
    
    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        gap: 1rem;
        width: 20vw;
        box-shadow: .5rem 1rem 3rem rgba(0, 0, 0, 0.272);
        padding: 2rem;
        border-radius: 1rem;

        &-title {
            margin: 0;
        }

        &-row {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            margin-top: 1rem;
        }

        &-icon {
            height: 10vw;
            opacity: .5;
        }
    }

}