body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.--dark {
  background-color: #202020;
  color: lightgray;
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}

/* Fix warning on Edge */
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type=time] {
  -webkit-appearance: textfield;
  /* Safari and Chrome */
  -moz-appearance: textfield;
  /* Firefox */
  appearance: textfield;
  /* Standard */
}

.react-datepicker__input-container input {
  border: 1px solid lightgray;
  font-family: 'Open Sans', sans-serif;
  width: -webkit-fill-available;
  margin: 0;
  font-size: .9rem;
  border-radius: 0.5rem;
  min-height: 1.3rem;
  width: -webkit-fill-available;
  font-weight: normal;
  padding: 0.5rem;

  &:focus {
    border: 1px solid #105ec6;
    outline: none;
  }

  &:active {
    border: 1px solid #105ec6;
    outline: none;
  }

  &::placeholder {
    color: #b5b5b5;
    font-size: .9rem;
  }

}