@import '../pages/Home/home.scss';
@import '../pages/Login/login.scss';
@import '../pages/History/history.scss';
@import '../pages/AppLogs/applogs.scss';
@import '../pages/Systems/systems.scss';
@import '../pages/Users/users.scss';
@import '../pages/Help/help.scss';
@import '../pages/Account/account.scss';

.page {
    &__header {

        &-title {}

        &-subtitle {}
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 8vh 0;
        margin-left: 15vw;
        min-height: 80vh;
        position: relative;
    }
}

@media only screen and (max-width: 640px) {
    .page {
        &__header {

            &-title {}

            &-subtitle {}
        }
    }
}